*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;
}

h1{
    color: rgb(52, 5, 5);
    text-align: center;
    position: relative;
    width: 80%;
    margin: 50px auto;
    font-weight:bold 
}

body{
    background-color: rgb(255, 255, 255);   
}

#grid-container {
    margin-left: 60px;
    align-items: flex-start;
}

.grid-item{
    width: 180px;
    height: 150px;
    margin: 8px;
    object-fit: cover;
    border-radius: 5px 5px 5px 5px;
    cursor: zoom-in;    
}


.grid-item:hover{
    
    transform: scale(1.2);
}

/*Contenedor interno del Lightbox*/

#contenedor-principal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display:none;
    align-items: center;
    justify-content: center;
    z-index: 99;
  }

  #img-activa {
    width: 120%;
    height: auto;
  
  }
  
  #contenedor-interno {
    padding: 10px;
    max-width: 300px;
    min-height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
/*Botones*/
  
button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #f3f3f3;
  }

#btn-cierra{
    position: absolute;
    top:5%;
    right: 9%;
    font-size: 25px;
    color:#fff;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btn-retrocede{
    position: absolute;
    top:50%;
    right: 75%;
    font-size: 30px;
    font-weight: bold;
    color:#fff;
    cursor: pointer;
}

#btn-adelanta{
    position: absolute;
    top:50%;
    left: 75%;
    font-size: 30px;
    font-weight: bold;
    color:#fff;
    cursor: pointer;
}

h4{
   text-align: center;
   font-weight: lighter;
   font-size: large;
   position: relative;
   width: 80%;
   margin: 50px auto;
}

p{
    
    text-align: center;
    position: relative;
    width: 80%;
    margin: 50px auto;
}
    
