*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(rgba(5,7,12,0.60),rgba(5,7,12,0.60)),
    url(../countdown/imgs/Adrisyfam-pres-165.jpg);
    background-repeat: no-repeat;
    /*background-position: 20% 10%;*/
    background-position: center center;
   /* height: 1800px; 
    background-attachment: fixed; /*esto hace que el fondo se quede quieto*/
    background-size: cover;

}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*background-image: url(/countdown/imgs/Adrisyfam-pres-165.jpg);
    background-color: #333;*/
}

.countdown{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
}

.countdown div{
    display: grid;
    place-items: center;
    padding: 10px;
}

h1{
    text-align: center;
    color:#fff;
    font-size: 60px;
    padding: 30px 10px;
}

p{
    display: grid;
    place-items: center;
   /* border:solid 1px rgba(6, 3, 42, 0.666);*/
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color:#ffff;
    font-size:2rem;
    font-weight: bold;
    background-color: rgba(4, 4, 13, 0.742);
}

span{
    display: block;
    padding: 10px;
    text-align: center;
    color: bisque;
    font-size: 1.5rem;
    font-weight: 400;

}

.final-message{
    position: absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.7s;
    /*background-color: rgba(51, 51, 51, 0.714);*/
    background: linear-gradient(rgba(5, 7, 12, 0.501),rgba(5, 7, 12, 0.507)),
    url(/countdown/imgs/Adrisyfam-pres-165.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.animation h2{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    border:3px solid rgb(250, 247, 247);
    transition: .5s ease all;
    text-transform: capitalize;
    letter-spacing: 2px;
   
}

